{% extends "skeleton.html" %}
{% load static %}

{% block content %}
<div class="offcanvas offcanvas-end bg-body" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header px-5 pt-4 mt-2">
        <h5 class="offcanvas-title fw-bold fs-4 text-uppercase mt-2" id="offcanvasRightLabel">SPORTS</h5>
        <button id="close-sidebar" type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-5">
        <ul class="navbar-nav">
            {% if show_participants %}
            <li class="nav-item my-3">
                <a class="icon-link link-body-emphasis d-flex align-items-center text-uppercase" onclick="hideBars();"
                    target="_blank" href="{% url 'teams' %}">
                    <h4 class="mb-0">
                        PARTICIPANTS
                    </h4>
                    <i class="bi bi-link-45deg fs-4"></i>
                </a>
            </li>
            {% endif %}
            {% for group in groups %}
            <li class="nav-item my-2">
                <a id="click-group-{{ group.id }}" class="d-none" href="{% url 'home' %}#group-{{ group.id }}"></a>
                <span class="nav-link active fs-5 text-uppercase" style="cursor: pointer;"
                    onclick="hideBars('click-group-{{ group.id }}');">
                    {{ group.sub }} {{ group.name }}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<nav id="navbar" class="navbar navbar-expand-xl bg-body w-100 fixed-top" style="height: 6.5rem;">
    <div class="container-fluid bg-body px-4">
        <a class="navbar-brand mx-3 fs-3" href="{% url 'home' %}">
            <img src="{% static 'logo.png' %}" style="height: 80px;" alt="logo" />
        </a>
        <button id="nav-menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-2 my-3 w-100">
                <li class="nav-item mx-2">
                    <a class="nav-link active fs-5 text-uppercase" href="{% url 'home' %}">HOME</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active fs-5 text-uppercase" href="{% url 'leaderboard' %}">LEADERBOARD</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active fs-5 text-uppercase" href="{% url 'winners' %}">WINNERS</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active fs-5 text-uppercase" href="{% url 'rules' %}">RULES & FIXTURES</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active fs-5 text-uppercase" href="{% url 'notices' %}">NOTICES</a>
                </li>
                <li class="nav-item mx-2 me-auto">
                    <a class="nav-link active fs-5 text-uppercase" href="{% url 'merchandise' %}">MERCHANDISE</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active fs-5 text-uppercase" data-bs-toggle="offcanvas" href="#offcanvasRight"
                        role="button" aria-controls="offcanvasRight">
                        SPORTS
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <div class="d-flex gap-2 align-items-center justify-content-center">
                        <a class="nav-link active fs-5 text-uppercase mx-3 mx-lg-0" target="blank"
                            href="https://chat.whatsapp.com/G0C3hCEk14p6AUVvz943OM">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <a class="nav-link active fs-5 text-uppercase mx-3 mx-lg-0" target="blank"
                            href="https://www.instagram.com/auslympic2024?igsh=YzljYTk1ODg3Zg==">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a class="nav-link active fs-5 text-uppercase mx-3 mx-lg-0" target="blank"
                            href="mailto:help@auslympic.info">
                            <i class="bi bi-envelope-at"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

<footer class="position-relative z-1 px-4 px-sm-5 pt-5 bg-body">
    <div
        class="flex-sm-column-reverse flex-lg-row d-flex flex-wrap justify-content-center align-items-stretch my-5">
        <div class="flex-sm-row-reverse col-12 col-lg-6 col-xl-7 d-flex justify-content-center align-items-stretch flex-wrap text-center text-sm-start">
            <div class="col-10 col-sm-4 col-lg-5 p-3 py-5">
                <ul class="nav h-100 flex-column justify-content-between">
                    <h1 class="display-6 w-100">Links</h1>
                    <li class="nav-item mb-2">
                        <a href="{% url 'home' %}" class="nav-link p-0 text-body-secondary">Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{% url 'leaderboard' %}" class="nav-link p-0 text-body-secondary">Leaderboard</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{% url 'winners' %}" class="nav-link p-0 text-body-secondary">WINNERS</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{% url 'rules' %}" class="nav-link p-0 text-body-secondary">RULES & FIXTURES</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{% url 'notices' %}" class="nav-link p-0 text-body-secondary">Notices</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{% url 'merchandise' %}" class="nav-link p-0 text-body-secondary">Merchandise</a>
                    </li>
                </ul>
            </div>
            <div class="col-10 col-sm-6 col-lg-7 p-3 py-5 d-flex align-items-center justify-content-center">
                <img src="{% static 'logo.png' %}" style="max-width: 100%; max-height: 250px;" alt="logo" />
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-5 px-3 py-5 text-center text-lg-start d-flex flex-column justify-content-between">
            <h1 id="contact" class="display-6 w-100">Follow Us</h1>
            <ul class="list-unstyled d-flex justify-content-center justify-content-lg-start">
                <li class="mx-3 mx-md-0 me-md-4">
                    <a class="link-body-emphasis" target="blank"
                        href="https://chat.whatsapp.com/G0C3hCEk14p6AUVvz943OM">
                        <i class="bi bi-whatsapp fs-2"></i>
                    </a>
                </li>
                <li class="mx-3 mx-md-0 me-md-4">
                    <a class="link-body-emphasis" target="blank"
                        href="https://www.instagram.com/auslympic2024?igsh=YzljYTk1ODg3Zg==">
                        <i class="bi bi-instagram fs-2"></i>
                    </a>
                </li>
                <li class="mx-3 mx-md-0 me-md-4">
                    <a class="link-body-emphasis" target="blank" href="mailto:help@auslympic.info">
                        <i class="bi bi-envelope-at fs-2"></i>
                    </a>
                </li>
            </ul>
            <figure>
                <blockquote class="blockquote">
                    <p>Organized by Thakur Hrishiraj Singh</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Sports Secratary, <cite title="Source Title">Assam University Students Union
                        2024-25</cite>
                </figcaption>
            </figure>
            <div class="lead mb-2">
                Website Developed by
                <a class="link-body-emphasis" target="blank" href="http://himdek.com">
                    <i>Himprakash Deka</i>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center py-4 border-top">
        <small>© 2024 AUSLYMPIC, Assam University, Silchar. All rights reserved.</small>
    </div>
</footer>

<script>
    function hideBars(id) {
        document.getElementById('close-sidebar').click();
        setTimeout(() => {
            document.getElementById('nav-menu').click();
            setTimeout(() => {
                document.getElementById(id).click();
            }, 300);
        }, 300);
    }

    let lastScrollY = window.pageYOffset;
    const navbar = document.querySelector('#navbar');

    window.addEventListener('scroll', () => {
        const currentScrollY = window.pageYOffset;
        if (currentScrollY > lastScrollY) {
            navbar.classList.add('translate-up');
        } else {
            navbar.classList.remove('translate-up');
        }

        lastScrollY = currentScrollY;
    });
</script>
{% endblock %}