{% extends "base.html" %}
{% load static %}

{% block title %}LEADERBOARD |{% endblock %}

{% block body %}
<div class="vw-100 overflow-hidden bg-primary">
    <div class="text-body-emphasis bg-primary-subtle masked-background" style="min-width: 1280px;">
        <div class="vw-100 p-4 p-md-5">
            <div
                class="row gap-4 justify-content-center justify-content-sm-start align-items-center align-items-center">
                <div class="col-10 col-sm-5 col-md-4 col-lg-3 col-xl-2">
                    <img src="{% static 'logo.png' %}" class="w-100" />
                </div>
                <div class="col-10 col-sm-6 col-md-7 col-lg-7 col-xl-6 text-center text-sm-start">
                    <h1 class="display-2 fst-italic text-uppercase">LEADERBOARD</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-evenly flex-wrap bg-body p-0 p-md-5">
    <div class="d-flex w-100 p-3">
        <div class="col-8 d-flex align-items-center justify-content-start">
            <div style="width: 3ch;">
                {{ forloop.counter }}
            </div>
            <div class="lead">
                Department
            </div>
        </div>
        <div class="col-1 text-center">
            <i class="bi bi-1-circle text-warning-emphasis fs-5"></i>
        </div>
        <div class="col-1 text-center">
            <i class="bi bi-2-circle text-secondary-emphasis fs-5"></i>
        </div>
        <div class="col-1 text-center">
            <i class="bi bi-3-circle text-danger-emphasis fs-5"></i>
        </div>
        <div class="col-1 text-center">
            <i class="bi bi-123 text-info-emphasis fs-5"></i>
        </div>
    </div>
    <div class="accordion w-100" id="accordion-dept">
        {% for department in departments %}
        <div class="accordion-item rounded-0">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed d-block p-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{ department.name }}" aria-expanded="false"
                    aria-controls="collapse-{{ department.name }}">
                    <div class="d-flex align-items-center w-100">
                        <div class="col-8 d-flex align-items-center justify-content-start">
                            <div style="width: 3ch;">
                                {{ forloop.counter }}
                            </div>
                            <div>
                                {{ department.get_name }}
                            </div>
                        </div>
                        <div class="col-1 text-warning-emphasis text-center">
                            {{ department.gold_winner_count }}
                        </div>
                        <div class="col-1 text-secondary-emphasis text-center">
                            {{ department.silver_winner_count }}
                        </div>
                        <div class="col-1 text-danger-emphasis text-center">
                            {{ department.bronze_winner_count }}
                        </div>
                        <div class="col-1 text-info-emphasis text-center">
                            {{ department.winner_count }}
                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapse-{{ department.name }}" class="accordion-collapse collapse"
                data-bs-parent="#accordion-dept">
                <div class="accordion-body p-3">
                    <ol class="list-group list-group-flush list-group-numbered">
                        {% for team in department.gold_winners.all %}
                        <li class="list-group-item d-flex justify-content-start align-items-start p-3">
                            <a href="{% url 'sport' team.sport.id %}" class="text-decoration-none">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">{{ team.name }}</div>
                                    {{ team.department }}
                                    <span class="d-flex flex-wrap gap-2 justify-content-start align-items-center">
                                        {% if team.gold_winner %}
                                        <span
                                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill">
                                            <i class="bi bi-award fs-6 m-1"></i>
                                            <small>Gold at {{ team.sport }}</small>
                                        </span>
                                        {% elif team.silver_winner %}
                                        <span
                                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                            <i class="bi bi-award fs-6 m-1"></i>
                                            <small>Silver at {{ team.sport }}</small>
                                        </span>
                                        {% elif team.bronze_winner %}
                                        <span
                                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-pill">
                                            <i class="bi bi-award fs-6 m-1"></i>
                                            <small>Bronze at {{ team.sport }}</small>
                                        </span>
                                        {% endif %}
                                    </span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        {% for team in department.silver_winners.all %}
                        <li class="list-group-item d-flex justify-content-start align-items-start p-3">
                            <a href="{% url 'sport' team.sport.id %}" class="text-decoration-none">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">{{ team.name }}</div>
                                    {{ team.department }}
                                    <span class="d-flex flex-wrap gap-2 justify-content-start align-items-center">
                                        {% if team.gold_winner %}
                                        <span
                                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill">
                                            <i class="bi bi-award fs-6 m-1"></i>
                                            <small>Gold at {{ team.sport }}</small>
                                        </span>
                                        {% elif team.silver_winner %}
                                        <span
                                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                            <i class="bi bi-award fs-6 m-1"></i>
                                            <small>Silver at {{ team.sport }}</small>
                                        </span>
                                        {% elif team.bronze_winner %}
                                        <span
                                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-pill">
                                            <i class="bi bi-award fs-6 m-1"></i>
                                            <small>Bronze at {{ team.sport }}</small>
                                        </span>
                                        {% endif %}
                                    </span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        {% for team in department.bronze_winners.all %}
                        <li class="list-group-item d-flex justify-content-start align-items-start p-3">
                            <a href="{% url 'sport' team.sport.id %}" class="text-decoration-none">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">{{ team.name }}</div>
                                    {{ team.department }}
                                    <span class="d-flex flex-wrap gap-2 justify-content-start align-items-center">
                                        {% if team.gold_winner %}
                                        <span
                                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill">
                                            <i class="bi bi-award fs-6 m-1"></i>
                                            <small>Gold at {{ team.sport }}</small>
                                        </span>
                                        {% elif team.silver_winner %}
                                        <span
                                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                            <i class="bi bi-award fs-6 m-1"></i>
                                            <small>Silver at {{ team.sport }}</small>
                                        </span>
                                        {% elif team.bronze_winner %}
                                        <span
                                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-pill">
                                            <i class="bi bi-award fs-6 m-1"></i>
                                            <small>Bronze at {{ team.sport }}</small>
                                        </span>
                                        {% endif %}
                                    </span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}