{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ sport.name }} | {% endblock %}

{% block body %}
<div class="vw-100 overflow-x-hidden bg-primary">
    <div class="text-body-emphasis bg-primary-subtle masked-background" style="min-width: 1280px;">
        <div class="vw-100 p-4 p-md-5">
            <div class="row gap-4 justify-content-center justify-content-sm-start align-items-center">
                <div class="col-10 col-sm-5 col-md-4 col-lg-3 col-xl-2 d-flex flex-column align-items-center">
                    <img src="{% static 'logo.png' %}" class="w-100" alt="logo" />
                    <ul class="list-unstyled d-flex mt-4">
                        <li class="mx-3">
                            <a class="link-body-emphasis" target="blank"
                                href="https://chat.whatsapp.com/G0C3hCEk14p6AUVvz943OM">
                                <i class="bi bi-whatsapp fs-2"></i>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="link-body-emphasis" target="blank"
                                href="https://www.instagram.com/auslympic2024?igsh=YzljYTk1ODg3Zg==">
                                <i class="bi bi-instagram fs-2"></i>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="link-body-emphasis" target="blank" href="mailto:help@auslympic.info">
                                <i class="bi bi-envelope-at fs-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-10 col-sm-6 col-md-7 col-lg-7 col-xl-6 text-center text-sm-start">
                    <h1 class="display-6 text-uppercase">{{ sport.name }}</h1>
                    <div class="col-12 col-lg-8 px-0">
                        <p class="lead my-3">
                            Contact Coordinators for any queries
                        </p>
                    </div>
                    {% for coordinator in sport.coordinators.all %}
                    <div class="my-3">
                        <div class="fw-bold">{{ coordinator.first_name }} {{ coordinator.last_name }}</div>
                        <a target="blank" href="tel::+91-{{ coordinator.username }}" class="text-decoration-none">
                            +91-{{ coordinator.username }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-body py-4 py-sm-5 d-flex align-items-center justify-content-center">
    <div class="col-11 col-sm-10 col-md-8">
        <span class="d-flex flex-wrap gap-2 justify-content-start align-items-center">
            {% if sport.rulebook %}
            <a class="text-decoration-none" target="blank" href="{{ sport.rulebook.url }}">
                <span
                    class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
                    <i class="bi bi-card-list fs-6 m-1"></i>
                    Rulebook
                </span>
            </a>
            {% endif %}
            {% if sport.fixtures %}
            <a class="text-decoration-none" target="blank" href="{{ sport.fixtures.url }}">
                <span
                    class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
                    <i class="bi bi-calendar-week fs-6 m-1"></i>
                    Fixtures
                </span>
            </a>
            {% else %}
            <span
                class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
                <i class="bi bi-calendar-week fs-6 m-1"></i>
                Fixtures Comming Soon
            </span>
            {% endif %}
        </span>

        <div class="d-flex align-items-start my-5">
            <div
                class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-whatsapp"></i>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Whatsapp Community</h3>
                <p>All Participants must mandatorily join our Whatsapp Community and the Event specific Groups. All
                    updates will be available there.</p>
                <a class="icon-link" target="blank" href="https://chat.whatsapp.com/G0C3hCEk14p6AUVvz943OM">
                    <i class="bi bi-whatsapp"></i>
                    Join
                </a>
            </div>
        </div>

        {% if team_form %}
        <h3 class="display-5 fw-bold mt-5 py-4">Register</h3>
        <small>Open till {{ sport.registration_deadline }}</small>
        <div id="register-form-member" class="d-none">
            <div class="form-floating mb-3">
                <input type="text" name="members" class="form-control rounded-0" placeholder="Member number"
                    value="member_name">
                <label>Member number</label>
            </div>
        </div>
        <form action="#register-form" id="register-form" method="POST" class="py-4">
            {% csrf_token %}
            <div class="form-floating mb-3 d-none">
                {{ team_form.sport }}
                {{ team_form.sport.label_tag }}
                {% if team_form.sport.help_text %}
                <div class="form-text">
                    {{ team_form.sport.help_text }}
                </div>
                {% endif %}
            </div>
            {% if team_form.sport.errors %}
            <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-triangle fs-6 m-1"></i>
                {% for error in team_form.sport.errors %}
                <span>{{ error|escape }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="form-floating mb-3">
                {{ team_form.name }}
                {{ team_form.name.label_tag }}
                {% if team_form.name.help_text %}
                <div class="form-text">
                    {{ team_form.name.help_text }}
                </div>
                {% endif %}
            </div>
            {% if team_form.name.errors %}
            <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-triangle fs-6 m-1"></i>
                {% for error in team_form.name.errors %}
                <span>{{ error|escape }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="form-floating mb-3">
                {{ team_form.phone }}
                {{ team_form.phone.label_tag }}
                {% if team_form.phone.help_text %}
                <div class="form-text">
                    {{ team_form.phone.help_text }}
                </div>
                {% endif %}
            </div>
            {% if team_form.phone.errors %}
            <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-triangle fs-6 m-1"></i>
                {% for error in team_form.phone.errors %}
                <span>{{ error|escape }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="form-floating mb-3">
                {{ team_form.department }}
                {{ team_form.department.label_tag }}
                {% if team_form.department.help_text %}
                <div class="form-text">
                    {{ team_form.department.help_text }}
                </div>
                {% endif %}
            </div>
            {% if team_form.department.errors %}
            <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-triangle fs-6 m-1"></i>
                {% for error in team_form.department.errors %}
                <span>{{ error|escape }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="{% if sport.team_size_min == 1 and sport.team_size_max == 1 %} d-none {% endif %}">
                <div id="register-form-members">
                    {{ team_form.members.label_tag }}
                    {% if team_form.members.help_text %}
                    <div class="form-text mb-2">
                        {{ team_form.members.help_text }}
                    </div>
                    <div class="form-text mb-2">
                        Add {{ sport.team_size_min }} to {{ sport.team_size_max }} members.
                    </div>
                    {% endif %}
                </div>
                <input id="add-member-button" type="button"
                    class="btn btn-primary btn-lg masked-btn mb-3 w-100 rounded-0" value="Add Member"
                    onclick="addMember();">
            </div>
            {% if team_form.members.errors %}
            <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-triangle fs-6 m-1"></i>
                {% for error in team_form.members.errors %}
                <span>{{ error|escape }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <input type="submit" class="btn btn-primary btn-lg masked-btn mb-3 w-100 rounded-0" value="Submit">
            {% if team_form.non_field_errors %}
            {% for error in team_form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-triangle fs-6 m-1"></i>
                <span>{{ error }}</span>
            </div>
            {% endfor %}
            {% endif %}
        </form>
        {% else %}
        <h4 class="fw-bold my-4">Registration has closed on {{ sport.registration_deadline }}</h4>
        {% endif %}

        {% if sport.teams.all|length %}
        <h3 class="display-5 fw-bold mt-5 py-4">
            {% if sport.gold_winners|length and sport.silver_winners|length and sport.bronze_winners|length %}
            Winners
            {% else %}
            Registered entries
            {% endif %}
        </h3>
        {% if sport.team_size_min == 1 and sport.team_size_max == 1 %}
        <ol class="list-group list-group-numbered">
            {% if sport.gold_winners|length and sport.silver_winners|length and sport.bronze_winners|length %}
            {% for team in sport.winners %}
            <li id="team-{{ team.id }}" class="list-group-item d-flex justify-content-between align-items-start py-3">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ team.name }}</div>
                    <div class="text-secondary-emphasis">{{ team.department }}</div>
                    <span class="d-flex flex-wrap gap-2 justify-content-start align-items-center">
                        {% if team.gold_winner %}
                        <span
                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill">
                            <i class="bi bi-award fs-6 m-1"></i>
                            Gold
                        </span>
                        {% elif team.silver_winner %}
                        <span
                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                            <i class="bi bi-award fs-6 m-1"></i>
                            Silver
                        </span>
                        {% elif team.bronze_winner %}
                        <span
                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-pill">
                            <i class="bi bi-award fs-6 m-1"></i>
                            Bronze
                        </span>
                        {% endif %}
                    </span>
                </div>
            </li>
            {% endfor %}
            {% else %}
            {% for team in sport.teams.all %}
            <li id="team-{{ team.id }}" class="list-group-item d-flex justify-content-between align-items-start py-3">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ team.name }}</div>
                    <div class="text-secondary-emphasis">{{ team.department }}</div>
                    <span class="d-flex flex-wrap gap-2 justify-content-start align-items-center">
                        {% if team.gold_winner %}
                        <span
                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill">
                            <i class="bi bi-award fs-6 m-1"></i>
                            Gold
                        </span>
                        {% elif team.silver_winner %}
                        <span
                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                            <i class="bi bi-award fs-6 m-1"></i>
                            Silver
                        </span>
                        {% elif team.bronze_winner %}
                        <span
                            class="badge mt-2 d-flex align-items-center p-0 pe-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-pill">
                            <i class="bi bi-award fs-6 m-1"></i>
                            Bronze
                        </span>
                        {% endif %}
                    </span>
                </div>
            </li>
            {% endfor %}
            {% endif %}
        </ol>
        {% else %}
        <div class="accordion" id="entries-accordion">
            {% if sport.gold_winners|length and sport.silver_winners|length and sport.bronze_winners|length %}
            {% for team in sport.winners %}
            <div id="team-{{ team.id }}" class="accordion-item rounded-0">
                <div class="accordion-header">
                    <button class="accordion-button collapsed p-3 p-sm-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse-{{ team.id }}"
                        aria-expanded="false" aria-controls="collapse-{{ team.id }}">
                        <div class="d-flex">
                            <div>
                                <div class="lead fw-bold me-2" style="width: 1ch;">{{ forloop.counter }}</div>
                            </div>
                            <div>
                                <div class="lead fw-bold">{{ team.name }}</div>
                                <div class="text-secondary-emphasis">{{ team.department }}</div>
                                <span
                                    class="d-flex flex-wrap gap-2 justify-content-start align-items-center">
                                    {% if team.gold_winner %}
                                    <span
                                        class="badge mt-2 d-flex align-items-center p-0 pe-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill">
                                        <i class="bi bi-award fs-6 m-1"></i>
                                        Gold
                                    </span>
                                    {% elif team.silver_winner %}
                                    <span
                                        class="badge mt-2 d-flex align-items-center p-0 pe-2 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                        <i class="bi bi-award fs-6 m-1"></i>
                                        Silver
                                    </span>
                                    {% elif team.bronze_winner %}
                                    <span
                                        class="badge mt-2 d-flex align-items-center p-0 pe-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-pill">
                                        <i class="bi bi-award fs-6 m-1"></i>
                                        Bronze
                                    </span>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </button>
                </div>
                <div id="collapse-{{ team.id }}" class="accordion-collapse collapse"
                    data-bs-parent="#entries-accordion">
                    <div class="accordion-body">
                        <ol class="mb-0">
                            {% for member in team.members %}
                            <li class="py-3 mb-0 h5">
                                {{ member }}
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% for team in sport.teams.all %}
            <div id="team-{{ team.id }}" class="accordion-item rounded-0">
                <div class="accordion-header">
                    <button class="accordion-button collapsed p-3 p-sm-4" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse-{{ team.id }}"
                        aria-expanded="false" aria-controls="collapse-{{ team.id }}">
                        <div class="d-flex">
                            <div>
                                <div class="lead fw-bold me-2" style="width: 2ch;">{{ forloop.counter }}</div>
                            </div>
                            <div>
                                <div class="lead fw-bold">{{ team.name }}</div>
                                <div class="text-secondary-emphasis">{{ team.department }}</div>
                                <span
                                    class="d-flex flex-wrap gap-2 justify-content-start align-items-center">
                                    {% if team.gold_winner %}
                                    <span
                                        class="badge mt-2 d-flex align-items-center p-0 pe-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill">
                                        <i class="bi bi-award fs-6 m-1"></i>
                                        Gold
                                    </span>
                                    {% elif team.silver_winner %}
                                    <span
                                        class="badge mt-2 d-flex align-items-center p-0 pe-2 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                        <i class="bi bi-award fs-6 m-1"></i>
                                        Silver
                                    </span>
                                    {% elif team.bronze_winner %}
                                    <span
                                        class="badge mt-2 d-flex align-items-center p-0 pe-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-pill">
                                        <i class="bi bi-award fs-6 m-1"></i>
                                        Bronze
                                    </span>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </button>
                </div>
                <div id="collapse-{{ team.id }}" class="accordion-collapse collapse"
                    data-bs-parent="#entries-accordion">
                    <div class="accordion-body">
                        <ol class="mb-0">
                            {% for member in team.members %}
                            <li class="py-3 mb-0 h5">
                                {{ member }}
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
    </div>

</div>

<script>
    var members_str = "{{ team_form.members.value }}"
    var members_lower_limit = parseInt("{{ sport.team_size_min }}");
    var members_upper_limit = parseInt("{{ sport.team_size_max }}");

    if (members_str == "None")
        var members = [];
    else
        var members = JSON.parse(members_str.replace(/&quot;/g,'"'));

    var member_count = 0;

    for (i in members) {
        addMember(members[i]);
    }
    while (member_count < members_lower_limit) {
        addMember();
    }

    function addMember(name = "") {
        member_count++;
        input = document.getElementById("register-form-member").innerHTML;
        input = input.replace(/member_name/g, name);
        input = input.replace(/number/g, `${member_count}`)
        input = input.replace(/Member 1</g, "Member 1 (Captain)<")
        el = document.createElement("div");
        el.setAttribute("id", `register-form-member-${member_count}`);
        el.innerHTML = input;
        document.getElementById("register-form-members").appendChild(el);
        setAddButtonVisibility();
    }

    function setAddButtonVisibility() {
        add_member_button = document.getElementById("add-member-button");
        if (member_count >= members_upper_limit)
            add_member_button.classList.add("d-none");
        else
            add_member_button.classList.remove("d-none");

    }
</script>

{% endblock %}