.bg-accent {
    background-color: rgb(137, 102, 233);
    font-weight: bold;
}

.bg-hover-accent:hover {
    background-color: #302752;
}

.bg-body-accent {
    background-color: #302752;
}

.fg-accent {
    color: rgb(163, 137, 255);
}

.bg-body {
    background-color: black !important;
}

.x.mandatory-scroll-snapping {
    scroll-snap-type: x mandatory;
}

.x.proximity-scroll-snapping {
    scroll-snap-type: x proximity;
}

.y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
}

.y.proximity-scroll-snapping {
    scroll-snap-type: y proximity;
}

.cut-corner:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-top: 40px solid rgb(0, 0, 0);
    border-right: 40px solid rgba(0, 0, 0, 0);
    width: 0;
}

.cut-corner:after {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-top: 40px solid rgba(0, 0, 0, 0);
    border-right: 40px solid rgb(0, 0, 0);
    width: 0;
}

.hide-down-container .hide-down {
    transform: translateY(100%);
    transition: transform 0.3s;
}

.hide-down-container:hover .hide-down {
    transform: translateY(0%);
}