@import "./bootstrap.scss";

body {
    margin-top: 6.5rem;
}

.cut-corner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 40px solid rgb(0, 0, 0);
    border-right: 40px solid rgba(0, 0, 0, 0);
    width: 0;
}

.cut-corner:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 40px solid rgba(0, 0, 0, 0);
    border-right: 40px solid rgb(0, 0, 0);
    width: 0;
}

.hide-down-container .hide-down {
    transform: scaleY(100%);
    transition: transform 0.3s;
}

.hide-down-container:hover .hide-down {
    transform: scaleY(0%);
}

#navbar {
    transition: transform 0.3s;
}

.translate-up {
    transform: translateY(-100%);
}

.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

.old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
}

.old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
}